<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <span *ngIf="student.value.id">
                        Update Student
                    </span>
                    <span *ngIf="!student.value.id">
                        Create student
                    </span>
                </h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="card card-profile">
                    <div class="card-body">
                        <form [formGroup]="student">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Index Number" formControlName="indexNumber">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" formControlName="firstName"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" formControlName="lastName" type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Admission Date" formControlName="admissionDate"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Admission Fee" formControlName="admissionFee"
                                            type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date of Birth" formControlName="dob" type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" (click)="updateStudent()"
                                class="btn btn-primary float-right">Update
                                Profile
                            </button>

                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>